<div id="<%= dom_id entry %>">
  <p>
    <strong>Coin type:</strong>
    <%= entry.coin_type %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= entry.purchase_price %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= entry.selling_price %>
  </p>

</div>
