<p style="color: green"><%= notice %></p>

<% content_for :title do%>
  Gains & Lost Calculator 
<%end%>

<div class="column mt-6 is-centered">
  <div id="entries">
        <% @entries.each do |entry| %>
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <%= render entry %>
                  <p class='italic'>Created <%= time_ago_in_words(entry.created_at)%> ago</p>
                </div>
              </div>
              <div class="card-footer">
                <%= link_to "Show this entry", entry, class: "card-footer-item" %>
              </div>
          </div>
        </div> 
      <% end %>
    </div>
</div>

