<div class="column mt-6 is-centered">
  <div class="column is-half">
        <div class="card">
          <div class="card-content">
          <div class="content">
            <%= render @entry %>
          </div>
  
        <div class="card-footer">
          <%= link_to "Edit this entry", edit_entry_path(@entry), class: "card-footer-item button" %> |
          <%= link_to "Back to entries", entries_path, class: "card-footer-item button" %>
          <%= button_to "Destroy this entry", @entry, method: :delete, class: "card-footer-item button" %>
        </div>
      </div>
    </div>
  </div>
</div>