<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    <h1 class="title is-2"> 
      <% if content_for(:title)%>
        <%= yield :title %>
      <% else %>
        Gains & Losses Calculator
      <% end %>
    </h1>
      <a class="navbar-item">
      <%# the way to pass in the rails route %>
        <%= link_to "create new entry" , new_entry_path, class: "button is-primary" %>
      </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      </div>
    </div>
  </div>
</nav>